################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/FreelancerProtection/v16
/FreelancerProtectionLib/bin/Debug
/FreelancerProtectionLib/obj/Debug
/FreelancerProtectionLibTests/bin/Debug
/FreelancerProtectionLibTests/obj/Debug
/packages
